# config/packages/doctrine.yaml
doctrine:
  dbal:
    # DSN principal défini dans .env / .env.local
    url: '%env(resolve:DATABASE_URL)%'

    # Forcer la version exacte de MariaDB (évite erreurs Doctrine avec migrations)
    server_version: '10.4.32-MariaDB'

    # Charset par défaut (UTF-8 full)
    charset: utf8mb4
    default_table_options:
      charset: utf8mb4
      collate: utf8mb4_unicode_ci

  orm:
    # Génération des proxies activée en dev/stage
    auto_generate_proxy_classes: true
    enable_lazy_ghost_objects: true

    naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware

    # ⚠️ Dépréciation Symfony/Doctrine : il faut expliciter
    auto_mapping: true
    controller_resolver:
      auto_mapping: true

    mappings:
      App:
        is_bundle: false
        type: attribute
        dir: '%kernel.project_dir%/src/Entity'
        prefix: 'App\Entity'
        alias: App

when@test:
  doctrine:
    dbal:
      # DB dédié aux tests (purgeée à chaque run)
      url: '%env(resolve:DATABASE_URL_TEST)%'
    orm:
      auto_generate_proxy_classes: true

when@prod:
  doctrine:
    orm:
      # En prod, les proxies sont générés à la volée => meilleures perfs
      auto_generate_proxy_classes: false
