framework:
    messenger:
        failure_transport: failed

        transports:
            # Transport asynchrone pour les jobs (emails, notifications, etc.)
            async:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                options:
                    use_notify: true
                    check_delayed_interval: 60000
                retry_strategy:
                    max_retries: 3
                    multiplier: 2

            # Transport pour les messages échoués
            failed: 'doctrine://default?queue_name=failed'

        routing:
            # Routage natif déjà configuré
            Symfony\Component\Mailer\Messenger\SendEmailMessage: async
            Symfony\Component\Notifier\Message\ChatMessage: async
            Symfony\Component\Notifier\Message\SmsMessage: async

            # Routage pour tes messages personnalisés (TalentÉkô)
            App\Message\NewMessageNotification: async
            App\Message\NewExchangeNotification: async
