###> symfony/framework-bundle ###
# Local overrides & secrets (ne jamais committer)
.env.local
.env.*.local
.env.local.php

/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###
###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
tailwindcss.exe

# Local overrides & secrets
.env.local
.env.*.local
.env.local.php

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###
/public/uploads/
