<section class="bg-orange-50 py-16">
  <div class="max-w-6xl mx-auto px-4">
    <h2 class="text-2xl sm:text-3xl font-bold text-gray-900 mb-10 text-center">
      Catégories populaires
    </h2>

    <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-6 text-center">
      {% include 'partials/_category_card.html.twig' with { 'label': 'Arts', 'image': 'art.png'} %}
      {% include 'partials/_category_card.html.twig' with { 'label': 'Langues', 'image': 'langues.png' } %}
      {% include 'partials/_category_card.html.twig' with { 'label': 'Informatique', 'image': 'informatique.png' } %}
      {% include 'partials/_category_card.html.twig' with { 'label': 'Cuisine', 'image': 'chefcuisto.png' } %}
      {% include 'partials/_category_card.html.twig' with { 'label': 'Sport', 'image': 'sport.png' } %}
      {% include 'partials/_category_card.html.twig' with { 'label': 'Bricolage', 'image': 'bricolage.png' } %}
      {% include 'partials/_category_card.html.twig' with { 'label': 'Bien-être', 'image': 'bien-être.png' } %}
      {% include 'partials/_category_card.html.twig' with { 'label': 'Jardinage', 'image': 'jardinage.png' } %}
    </div>
</section>


