{# templates/styleguide/_nav.html.twig #}
<nav aria-label="Menu du styleguide" class="bg-talenteko-peach-100 border-b border-talenteko-orange-200 sticky top-0 z-40">
	<div class="max-w-6xl mx-auto px-4 py-2">
		<ul class="flex flex-wrap gap-4 text-sm font-semibold">
			<li>
				<a href="{{ path('app_styleguide_buttons') }}" class="btn-link">Boutons</a>
			</li>
			<li>
				<a href="{{ path('app_styleguide_forms') }}" class="btn-link">Formulaires</a>
			</li>
			<li>
				<a href="{{ path('app_styleguide_typography') }}" class="btn-link">Typographie</a>
			</li>
			<li>
				<a href="{{ path('app_styleguide_cta') }}" class="btn-link">CTA</a>
			</li>
		</ul>
	</div>
</nav>








