{# templates/styleguide/_nav.html.twig #}
<nav aria-label="Menu du styleguide">
	<div class="mx-auto px-6 py-2">
		<ul class="flex flex-wrap gap-4 text-sm font-semibold">
			<li>
				<a href="{{ path('app_styleguide_buttons') }}" class="btn-link">Boutons</a>
			</li>
			<li>
				<a href="{{ path('app_styleguide_forms') }}" class="btn-link">Formulaires</a>
			</li>
			<li>
				<a href="{{ path('app_styleguide_typography') }}" class="btn-link">Typographie</a>
			</li>
			<li>
				<a href="{{ path('app_styleguide_cards') }}" class="btn-link">Cards</a>
			</li>
		</ul>
	</div>
</nav>
