{% extends 'base.html.twig' %}

{% block title %}
  Contact | TalentÉkô
{% endblock %}

{% block body %}
  <section class="mx-auto max-w-3xl p-6">
    <h1 class="mb-6 text-3xl font-bold text-talenteko-orange-500">Contact</h1>
    <p class="mb-4 text-gray-700">
      Pour toute question ou remarque, vous pouvez nous écrire à l'adresse suivante :
    </p>
    <p>
      <a
        href="mailto:contact@talenteko.test"
        class="text-talenteko-orange-500 underline hover:text-talenteko-orange-700"
      >
        contact@talenteko.test
      </a>
    </p>
  </section>
{% endblock %}
