{% extends 'base.html.twig' %}

{% block title %}
  Comment ça marche | TalentÉkô
{% endblock %}

{% block body %}
  <section class="mx-auto max-w-3xl p-6">
    <h1 class="mb-6 text-3xl font-bold text-talenteko-orange-500">Comment ça marche ?</h1>
    <p class="text-gray-700">
      1. Inscrivez-vous gratuitement.<br />
      2. Complétez votre profil avec vos compétences.<br />
      3. Publiez vos annonces ou répondez à celles des autres membres.<br />
      4. Échangez vos savoir-faire en toute confiance.
    </p>
  </section>
{% endblock %}
